 body {
  text-align: center;
  margin-top: 100px;
  background: grey;
  // background-image: url(../assets/images/bigger.jpg);
  // background-position: center;
  // background-repeat: no-repeat;
  // position: relative;
}
h1 {

  font-family: 'Bungee Outline';
  font-size: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  color: #444;
  // position: absolute;
  // float: right;
  margin: 0 auto;
  background-image: url(../assets/images/bigger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 86px;
  width: 630px;
  // z-index: 10;
  // padding: 5px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 60px;
  font-size: 150%;


  &.player {
    // background-color: pink;
    background-image: url(../assets/images/gf2.jpg);
    background-repeat: no-repeat;
  }

  &.boyfriend{
    background-color: purple;
  }

}


.boxlast-child {

  page-break-after: 4px;
   background: #ff0000; background: #ff0000;

}
