 body {
  text-align: center;
  margin-top: 10px;
  background: grey;
}
h1 {

  font-family: 'Bungee Outline';
  font-size: 120px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  color: #444;
  // position: absolute;
  // float: right;
  margin: 0 auto;
  background-image: url(../assets/images/bigger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px;
  width: 630px;
  // z-index: 10;
  // padding: 5px;
  &.round0 {
    grid-template-columns: 200px 200px 200px;
  }
  &.round1 {
    grid-template-columns: 150px 150px 150px 150px;
  }
  &.round2 {
    grid-template-columns: 120px 120px 120px 120px 120px;
  }
}

.box {
  background-color: #cdaeae;
  opacity: 1.0;
  color: #fff;
  border-radius: 10px;
  padding: 60px;
  font-size: 150%;


  &.player {
    background-image: url(../assets/images/gf2.jpg);
    background-repeat: no-repeat;
  }

  &.boyfriend{
    background-image: url(../assets/images/asap.jpg);
    background-repeat: no-repeat;
  }

}


.box last-child {

  page-break-after: 4px;
  background-color: #ff0000;

}
